#titel{
    color: red}
.blue{
    color: blue}
    body {
        font-family: "Roboto", sans-serif;
        color: #000000;
        background-color: #ffffff;
      }
      
      .layout_padding {
        padding: 90px 0;
      }
      
      .layout_padding2 {
        padding: 45px 0;
      }
      
      .layout_padding2-top {
        padding-top: 45px;
      }
      
      .layout_padding2-bottom {
        padding-bottom: 45px;
      }
      
      .layout_padding-top {
        padding-top: 90px;
      }
      
      .layout_padding-bottom {
        padding-bottom: 90px;
      }
      
      .heading_container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
      }
      
      .heading_container h2 {
        font-weight: bold;
        position: relative;
      }
      
      .heading_container h2::before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 50%;
        width: 75px;
        height: 5px;
        background-color: #30ae69;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
      }
      